@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@300;500&display=swap');


/* NavBar.js */

.App {
  padding: 10px;
  background: linear-gradient(to bottom, #C6E1FF, #EDF6FF, #f4f9ff, #f4f8fc, #fafcfd, #ffff);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-clr: hsl(185, 85%, 40%);
  --bg-primary: hsl(195, 20%, 86%);
  --border-clr: hsl(195, 16%, 82%);
  --accent-blue: #293754;
  --text-primary: #172B4D;
  --text-accent: hsl(195, 2%, 78%);
  --bkc-primary: #293754;
  --bkc-sceondary: #D6F5FA;
  --border-dull: #CECECE;

  --header: 3.5rem;
  --full-width: 100%;
  --padding-space: calc(var(--full-width) - 2rem);
  --max-width: 80rem;
  --min-width: 22.5rem;

  --bd-radius: 0.5em;
  --space-025: 0.25rem;
  --space-05: 0.5rem;
  --space-1: 1rem;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column;
  min-block-size: 100vh;
  font-family: 'Poppins', sans-serif;
  /* background: linear-gradient(45deg, hsl(185, 26%, 72%), hsl(224, 66%, 82%)); */
}

.container {
  flex-grow: 1;
  display: grid;
  place-self: center;
  inline-size: clamp(var(--min-width),
      var(--padding-space),
      var(--max-width));
  padding: 0 !important;
}

.site-header {
  --padding: 1rem;
  --header-margin: 5vh;
  --shadow: 0 0.1875em 0.3125em #0003, 0 0.125em 0.5em #0002;
  margin-block: auto;
  min-block-size: var(--header);
  background-color: #fff;
  outline: 1px solid var(--border-clr);
  border-radius: var(--bd-radius);
  padding-inline: var(--padding);
  box-shadow: var(--shadow);
  margin-top: 10px;
  border-radius: 30px;
}

.header__content--flow {
  block-size: inherit;
  display: flex;
  flex-flow: wrap;

  /* Breakpoint 1280px > 720px */
  gap: 0 clamp(3.5rem, -24.14rem + 61.43vw, 25rem);
}

.header__content--flow>* {
  flex-grow: 1;
  height: var(--header);
  width: calc((45rem - var(--full-width) - (var(--padding) * 2)) * 999);
}

.header-content--left {
  display: grid;
  grid-auto-flow: column;
  inline-size: max-content;
  place-content: center;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.brand-logo>svg {
  fill: var(--brand-clr);
}

.logo-text {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
}

.nav-toggle {
  height: 2.25rem;
  display: inline-grid;
  place-content: center;
  background: none;
  border: none;
  visibility: hidden;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 7px;
}

.nav-toggle:active {
  scale: 0.9;
}

.toggle--icon {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 10vh;
  position: relative;
  background-color: black;
}

.toggle--icon::before,
.toggle--icon::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: currentColor;
  translate: 0 var(--bar--top, 0.5rem);
}

.toggle--icon::after {
  --bar--top: -0.5rem;
}

.header-content--right {
  flex-grow: 999;
}

.header-nav {
  display: grid;
  align-items: center;
  block-size: 100%;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-auto-rows: 2.25rem;
  padding-left: 0px;
  top: 80px;
  border-radius: 30px;
  margin-top: 10px;
}

.nav__list li a {
  text-decoration: none;
}

.list-item {
  block-size: 100%;
}

.nav__link {
  block-size: inherit;
  display: inline-grid;
  place-items: center;
  min-width: 10ch;
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
  /* text-transform: uppercase; */
}

.nav__link:focus-within {
  color: var(--accent-blue);
}

.nav__link:hover:not(:focus) {
  border-bottom: 2px solid currentColor;
}

.nav__list:hover .nav__link:not(:focus, :hover) {
  color: var(--text-accent);
}

@media (max-width: 575px) {
  .header-content--left {
    justify-content: space-between;
  }

  .header-content--right {
    height: auto;
  }

  .nav-toggle {
    visibility: visible;
  }

  .nav__list {
    right: 0;
    margin-inline: var(--space-1);
    top: calc(50% + var(--space-1) * 2);
    gap: var(--space-05) 0;
    position: fixed;
    width: 10em;
    background-color: #fff;
    border-radius: var(--bd-radius);
    border: 1px solid var(--border-clr);
    padding-block: 0.5rem;
    grid-auto-flow: row;
    box-shadow: var(--shadow);
    visibility: hidden;
    opacity: 0;
    top: 80px;
  }

  .nav__list[aria-expanded="true"] {
    visibility: visible;
    transform-origin: top center;
    opacity: 1;
    transition: visibility 0ms, transform 166ms ease, opacity 166ms linear;
  }
}

@media (max-width: 479px) {
  .header-content--left>* {
    scale: 0.83;
  }

  .nav__list {
    width: calc(var(--full-width) - (var(--space-1) * 2));
  }
}


/* Introduction.js */

.intro {
  margin-top: 50px;
  padding: 10px;
}


.intro h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-primary);
  margin-top: 50px;
  line-height: 38px;
}

.intro button {
  width: 228px;
  height: 40px;
  background-color: var(--bkc-primary);
  color: white;
  border: 1px solid var(--bkc-primary);
  border-radius: 20px;
  margin-top: 30px;
}

.message-box {
  display: none;
  margin-top: 120px;
  width: 350px;
  height: 150px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;

}

.message-logo {
  width: 50px;
  height: 50px;
}

.message-text {
  padding-left: 15px;
}


/* Featured.js */

.section-featured {
  margin-top: 100px;
  padding: 10px;
}

.section-featured h2 {
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 30px;
}

.featured-bottom-text {
  margin-top: 30px;
  color: var(--text-primary);
  font-size: 18px;
}

.featured-bottom-text-p {
  font-size: small;
  color: #293754;
}


/* CenterText.js */

.section-center-text {
  margin-top: 80px;
  padding: 10px;
}

.section-center-text h2 {
  font-weight: 700;
  color: var(--text-primary);
}

.section-center-text p {
  font-size: 18px;
  color: var(--text-primary);
  margin-top: 15px;
}

.section-center-text button {
  width: 159px;
  height: 40px;
  background-color: var(--bkc-primary);
  color: white;
  border: 1px solid var(--bkc-primary);
  border-radius: 20px;
  margin-top: 20px;
}

/* Divider.js */

.section-divider {
  margin-top: 150px;
  padding: 10px;
}

.section-divider div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: linear-gradient(to right, #CBE4FF, #C5F5F5, #CBE4FF);
  border: 1px solid white;
  border-radius: 20px;
}

.section-divider div p {
  margin-bottom: 0;
}

.section-divider div button {
  width: 159px;
  height: 40px;
  background-color: var(--bkc-primary);
  color: white;
  border: 1px solid var(--bkc-primary);
  border-radius: 20px;
  margin-top: 20px;
}

/* Footer.js */

.section-footer {
  margin-top: 100px;
  padding: 10px;
}

.section-footer div h3 {
  font-weight: 700;
  color: var(--text-primary);
}

.section-footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-footer div a {
  color: #293754;
}

.section-footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #3f5175;
}

.footer-logo {
  width: 100px;
  height: 100px;
  display: none;
}

.image-container {
  margin-top: 130px;
  margin-left: 70px;
}




/* Home Page completed */





/* Starting Sign pages */


.sign-btn {
  background-color: var(--text-primary) !important;
  border: 1px solid var(--text-primary) !important;
  border-radius: 10px !important;
}

.sign-text {
  color: var(--text-primary) !important;
}

.signin-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.signin-form {
  border: 0.2px solid rgb(194, 192, 192);
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  min-width: 30%;
  height: auto;
  min-height: 500px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.form-control {
  font-family: 'Poppins' !important;
  font-weight: lighter !important;
}

.signin-form h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

.signin-logo {
  height: 80px;
  width: 80px;
  margin-left: 38%;
}

.create-account {
  margin-top: 15px;
}


/* Starting Interaction Page */

/* Bot.js */

.bot-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-container p {
  font-size: 26px;
  margin-bottom: 30px;
}

.bot-container button {
  width: 150px;
  height: 68px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--bkc-sceondary);
}

.bot-logo {
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
}

.bot-btn-logo {
  width: 40px;
  height: 40px;
}


/* ChatBot.js */

.chatbot-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.chatbot-message-box {
  min-width: 340px;
  padding: 5px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
}

.chatbot-message-box p {
  padding: 10px;
}

.bot-message-container {
  width: 100%;
  max-width: 750px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 340px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
}

.bot-message-container .bot-logo {
  width: 40px;
  height: 40px;
}

.bot-message-container p {
  margin-bottom: 0;
}

.input-container {
  width: 100%;
  max-width: 750px;
  margin-top: 70px;
  display: flex;
  padding: 5px;
  min-width: 340px;
  height: 52px;
  border: 1px solid var(--border-dull);
  border-radius: 10px;
}

.input-container input {
  width: 95%;
  outline: none;
  border: none;
}

.forward-container {
  display: flex;
  justify-content: end;
  width: 100%;
  min-width: 340px;
  margin-top: 10px;
  max-width: 750px;

}


/* VoiceBot.js */

.voice-bot-message-container {
  width: 100%;
  max-width: 750px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 340px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
}

.voice-bot-message-container .bot-logo {
  width: 40px;
  height: 40px;
}

.bot-audiowave-container {
  width: 100%;
  padding: 10px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}


/* DiseaseReport.js */

.disease-report-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-heading {
  width: 100%;
  max-width: 750px;
}

.disease-report-container h2 {
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 15px;
}

.symptoms-container, .precautions-container {
  width: 100%;
  max-width: 750px;
  padding: 18px;
  min-width: 340px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
  margin-top: 30px;
}

.disease-report-container h3 {
  margin-bottom: 15px;
}

.diseasereport-message-box {
  width: 100%;
  max-width: 750px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 340px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
  gap: 1rem;
}

.diseasereport-message-box p {
  margin-bottom: 0;
}


/* HealthProfiles.js */


.health-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.health-profile-top-heading{
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
  
}

.health-profile-top-heading h2 {
  margin-bottom: 0;
}

.health-profiles-list {
  width: 100%;
  max-width: 750px;
  margin-top: 50px;
}

.health-profile {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 340px;
  max-width: 750px;
  padding: 18px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
  margin-top: 10px;
}

.health-profile p {
  margin-bottom: 0;
}

.space-name {
  width: 20vw;
}



/* DiseaseProfile.js */

.disease-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.disease-profile-top-heading{
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
  
}

.disease-profile-top-heading h2 {
  margin-bottom: 0;
}

.disease-profiles-list {
  width: 100%;
  max-width: 750px;
  margin-top: 50px;
}

.disease-profile {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 340px;
  max-width: 750px;
  padding: 18px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
  margin-top: 10px;
}

.disease-profile p {
  margin-bottom: 0;
}

.disease-space-name {
  width: 20vw;
}










/*  Media queries */

@media screen and (min-width: 768px) {

  /* Introduction */

  .message-box {
    display: block;
  }

  /* Featured */

  .image-featured {
    height: 270px !important;
  }

  /* Divider */

  .section-divider div {
    flex-direction: row;
    gap: 2rem;
    height: 100px;
    border-radius: 50px;
  }

  .section-divider div button {
    margin-top: 0;
  }

  /* Footer */

  .footer-logo {
    display: block;
  }

}


@media screen and (min-width: 992px) {

  /* Divider */

  .section-divider div p {
    margin-right: 20rem;
  }

  /* 
  .section-divider div button {
    margin 
  } */

}