@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nanum+Myeongjo&family=Poppins:wght@300;500&display=swap');

body {
  display: flex;
  flex-flow: column;
  min-block-size: 100vh;
  font-family: "Nanum Myeongjo", sans-serif !important;
  background: linear-gradient(90deg, rgb(239, 242, 247) 0%, 7.60286%, rgb(237, 240, 249) 15.2057%, 20.7513%, rgb(235, 239, 248) 26.297%, 27.6386%, rgb(235, 239, 248) 28.9803%, 38.2826%, rgb(231, 237, 249) 47.585%, 48.1216%, rgb(230, 236, 250) 48.6583%, 53.1306%, rgb(228, 236, 249) 57.6029%, 61.5385%, rgb(227, 234, 250) 65.4741%, 68.7835%, rgb(222, 234, 250) 72.093%, 75.7603%, rgb(219, 230, 248) 79.4275%, 82.8265%, rgb(216, 229, 248) 86.2254%, 87.8354%, rgb(213, 228, 249) 89.4454%, 91.8605%, rgb(210, 226, 249) 94.2755%, 95.4383%, rgb(209, 225, 248) 96.6011%, 98.3005%, rgb(208, 224, 247) 100%);
}

/* NavBar.js */

.App {
  padding: 10px;
  /* background: linear-gradient(to bottom, #CEDEFB, #EDF6FF, #f4f9ff, #f4f8fc, #fafcfd, #ffff); */
  /* background: linear-gradient(to top, #CEDEFB,#dbe7ff,#ffff); */

}

a {
  text-decoration: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --brand-clr: hsl(185, 85%, 40%);
  --bg-primary: hsl(195, 20%, 86%);
  --border-clr: hsl(195, 16%, 82%);
  --accent-blue: #293754;
  --text-primary: black;
  --text-accent: hsl(195, 2%, 78%);
  --bkc-primary: #215CEC;
  --bkc-sceondary: #D6F5FA;
  --border-dull: #CECECE;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  --header: 3.5rem;
  --full-width: 100%;
  --padding-space: calc(var(--full-width) - 2rem);
  --max-width: 80rem;
  --min-width: 22.5rem;
  --bd-radius: 0.5em;
  --space-025: 0.25rem;
  --space-05: 0.5rem;
  --space-1: 1rem;
}

a {
  text-decoration: none;
}

.container {
  flex-grow: 1;
  display: grid;
  place-self: center;
  inline-size: clamp(var(--min-width),
      var(--padding-space),
      var(--max-width));
  padding: 0 !important;
}

.site-header {
  --padding: 1rem;
  --header-margin: 5vh;
  margin-block: auto;
  min-block-size: var(--header);
  background: linear-gradient(to right, #CEDEFB, #C5F5F5, #CEDEFB);
  border: 1px solid white;
  border-radius: var(--bd-radius);
  padding-inline: 2px;
  margin-top: 10px;
  height: 90px;
  border-radius: 50px;
}

.header__content--flow {
  block-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 0 clamp(3.5rem, -24.14rem + 61.43vw, 25rem);
}

.header__content--flow>* {
  flex-grow: 1;
  height: var(--header);
  width: calc((45rem - var(--full-width) - (var(--padding) * 2)) * 999);
}

.header-content--left {
  display: grid;
  grid-auto-flow: column;
  inline-size: max-content;
  place-content: center;
}

.brand-logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
}

.brand-logo>svg {
  fill: var(--brand-clr);
}

.logo-text {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
}

.nav-toggle {
  height: 2.25rem;
  color: #215CEC;
  display: inline-grid;
  place-content: center;
  background: none;
  border: none;
  visibility: hidden;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 7px;
}

.nav-toggle:active {
  scale: 0.9;
}

.toggle--icon {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 10vh;
  position: relative;
  background-color: #215CEC;
}

.toggle--icon::before,
.toggle--icon::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: currentColor;
  translate: 0 var(--bar--top, 0.5rem);
}

.toggle--icon::after {
  --bar--top: -0.5rem;
}

.header-content--right {
  flex-grow: 999;
}

.nav__list {
  list-style: none;
  margin-top: 9px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-auto-rows: 2.25rem;
  padding-left: 0px;
  top: 80px;
  border-radius: 30px;
  margin-bottom: 0;
}

.nav__list li a {
  text-decoration: none;
}

.list-item {
  block-size: 100%;
}

.nav__link {
  block-size: inherit;
  display: inline-grid;
  place-items: center;
  min-width: 10ch;
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
}

.nav__link:focus-within {
  color: var(--accent-blue);
}

.nav__list:hover .nav__link:not(:focus, :hover) {
  color: gray;
}

@media (max-width: 767px) {
  .progress-tracker {
    display: none;
  }

  .main-chatbot-container {
    justify-content: center;
    align-items: center;
  }

  .nav__list {
    margin-top: 0;
  }

  .brand-logo {
    height: 50px;
    width: 50px;
  }

}

@media (max-width: 575px) {
  .header-content--left {
    justify-content: space-between;
  }

  .header-content--right {
    height: auto;
  }

  .nav-toggle {
    visibility: visible;
    margin-top: 10px;
    margin-right: 10px;
  }

  .nav__list {
    right: 0;
    margin-inline: var(--space-1);
    top: calc(50% + var(--space-1) * 2);
    gap: var(--space-05) 0;
    position: fixed;
    width: 10em;
    background-color: #fff;
    border-radius: var(--bd-radius);
    border: 1px solid var(--border-clr);
    padding-block: 0.5rem;
    grid-auto-flow: row;
    box-shadow: var(--shadow);
    visibility: hidden;
    opacity: 0;
    top: 80px;
    box-shadow: none;
    margin-top: 18px;
    border: none;
  }

  .nav__list[aria-expanded="true"] {
    visibility: visible;
    transform-origin: top center;
    opacity: 1;
    transition: visibility 0ms, transform 166ms ease, opacity 166ms linear;
  }

  .site-header {
    height: 70px;
  }

  .brand-logo {
    margin-top: 8px;
  }
}

@media (max-width: 479px) {
  .header-content--left>* {
    scale: 0.83;
  }

  .nav__list {
    width: calc(var(--full-width) - (var(--space-1) * 2));
  }
}

/* Audiowave.js */


.loader-container {
  margin-top: 30px;
}

.loader-container>div {
  position: relative;
  display: inline-block;
  background: #03A9F4;
  height: 100%;
  width: 10px;
  margin: 0;
  -webkit-animation: load 3s ease-in-out infinite;
  animation: load 3s ease-in-out infinite;
}

.loader-container .rectangle-2 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader-container .rectangle-3 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader-container .rectangle-4 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader-container .rectangle-5 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader-container .rectangle-6 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

[class^="rectangle"] {
  border-radius: 5px;
}

@-moz-keyframes load {

  0%,
  100% {
    -moz-transform: scaleY(1);
    background: #03A9F4;
  }

  16.67% {
    -moz-transform: scaleY(3);
    background: #FF5722;
  }

  33.33% {
    -moz-transform: scaleY(1);
    background: #FF5252;
  }

  50% {
    -moz-transform: scaleY(3);
    background: #E91E63;
  }

  66.67% {
    -moz-transform: scaleY(1);
    background: #9C27B0;
  }

  83.34% {
    -moz-transform: scaleY(3);
    background: #673AB7;
  }
}

@-webkit-keyframes load {

  0%,
  100% {
    -webkit-transform: scaleY(1);
    background: #03A9F4;
  }

  16.67% {
    -webkit-transform: scaleY(3);
    background: #FF5722;
  }

  33.33% {
    -webkit-transform: scaleY(1);
    background: #FF5252;
  }

  50% {
    -webkit-transform: scaleY(3);
    background: #E91E63;
  }

  66.67% {
    -webkit-transform: scaleY(1);
    background: #9C27B0;
  }

  83.34% {
    -webkit-transform: scaleY(3);
    background: #673AB7;
  }
}

@keyframes load {

  0%,
  100% {
    transform: scaleY(1);
    background: #03A9F4;
  }

  16.67% {
    transform: scaleY(3);
    background: #FF5722;
  }

  33.33% {
    transform: scaleY(1);
    background: #FF5252;
  }

  50% {
    transform: scaleY(3);
    background: #E91E63;
  }

  66.67% {
    transform: scaleY(1);
    background: #9C27B0;
  }

  83.34% {
    transform: scaleY(3);
    background: #673AB7;
  }
}

/* Introduction.js */

.intro {
  margin-top: 50px;
  padding: 10px;
}

.intro h1 {
  font-size: 2.8rem;
  color: var(--text-primary);
  margin-top: 50px;
  line-height: 61px;
}

.message-box {
  display: none;
  margin-top: 120px;
  width: 350px;
  height: 150px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--shadow);
}

.intro button {
  width: 228px;
  height: 40px;
  background-color: var(--bkc-primary);
  color: white;
  border: 1px solid var(--bkc-primary);
  border-radius: 20px;
  margin-top: 20px;
}

.intro button:hover {
  background-color: #3c73ff;
  border: 1px solid #3c73ff;
  box-shadow: 3px 3px 4px rgba(67, 126, 255, 0.7);

}

.dr-clue-button {
  width: 160px !important;
  height: 40px;
  border-radius: 20px;
  margin-top: 40px !important;
  background: linear-gradient(to right, #16BFFD, #CB3066);
  border: none !important;
}

.dr-clue-button:hover {
  box-shadow: 3px 3px 4px #b20a2c !important;
}

.message-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-text {
  padding-left: 15px;
  margin-top: 12px;
}

.action-buttons:hover {
  background-color: #3c73ff !important;
  border-color: #3c73ff;
}

/* Featured.js */

.section-featured {
  margin-top: 100px;
  padding: 10px;
}

.featured-images-tags {
  color: rgb(51, 51, 51);
}

.section-featured h2 {
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 30px;
}

.featured-bottom-text {
  margin-top: 30px;
  color: var(--text-primary);
  font-size: 18px;
}

.featured-bottom-text-p {
  font-size: small;
  color: #293754;
}

/* CenterText.js */

.section-center-text {
  margin-top: 80px;
  padding: 10px;
}

.section-center-text h2 {
  font-weight: 700;
  color: var(--text-primary);
}

.section-center-text p {
  font-size: 18px;
  color: var(--text-primary);
  margin-top: 15px;
}

.section-center-text button {
  width: 159px;
  height: 40px;
  background-color: var(--bkc-primary);
  color: white;
  border: 1px solid var(--bkc-primary);
  border-radius: 20px;
  margin-top: 20px;
}

/* Divider.js */

.section-divider {
  margin-top: 150px;
  padding: 10px;
}

.section-divider div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: linear-gradient(to right, #CEDEFB, #C5F5F5, #CEDEFB);
  border: 1px solid white;
  border-radius: 20px;
}

.section-divider div p {
  margin-bottom: 0;
}

.section-divider div button {
  width: 159px;
  height: 40px;
  background-color: var(--bkc-primary);
  color: white;
  border: 1px solid var(--bkc-primary);
  border-radius: 20px;
  margin-top: 20px;
}

/* Footer.js */

.section-footer {
  margin-top: 100px;
  padding: 10px;
}

.section-footer div h3 {
  font-weight: 700;
  color: var(--text-primary);
}

.section-footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-footer div a {
  color: #293754;
}

.section-footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #3f5175;
}

.footer-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
}

.image-container {
  margin-top: 130px;
  margin-left: 70px;
}

.signin-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-top: 70px;
  gap: 10px;
}

.sign-in-heading {
  margin-bottom: 50px;
}

.sign-message {
  margin-top: 40px;
  font-size: 20px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.signin-container button {
  border: none !important;
  border: 1px solid #215CEC;
  background-color: #215CEC !important;
}

.field-gap {
  margin-top: 2rem !important;
}

.signin-form {
  box-shadow: var(--shadow);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  min-width: 30%;
  height: 520px;
  font-weight: 300;
}

.form-control {
  font-weight: lighter !important;
}

.signin-form h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

.signin-logo {
  height: 60px;
  width: 60px;
  margin-left: 42%;
  border-radius: 50%;
}

.create-account {
  margin-top: 15px;
  text-decoration: underline;
}

.sign-out {
  margin-top: 10px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

/* Starting Interaction Page */

/* Bot.js */

.bot-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-container p {
  font-size: 24px;
  margin-bottom: 60px;
}

.bot-container button {
  width: 160px;
  height: 60px;
  background-color: #C5F5F5;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.bot-logo {
  margin-bottom: 50px;
  margin-top: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.bot-btn-logo {
  width: 40px;
  height: 40px;
}

/* ChatBot.js */

.add-tip {
  background-color: transparent;
  border: 1px solid whitesmoke;
  box-shadow: var(--shadow);
  border-radius: 10px;
  color: black;
  padding: 5px;
  height: 100px;
  width: 255px;
  position: absolute;
  top: 26rem;
}

.add-tip p {
  color: red;
}

.display-none {
  display: none;
}

.disabled {
  opacity: 0 !important;
}

.cross-icon {
  font-size: 25px;
  color: red;
  margin-left: 200px;
  margin-top: 5px;
}

.tip-bulb {
  width: 20px;
  margin-bottom: 11px;
}

.main-chatbot-container {
  display: flex;
  justify-content: flex-start;
  gap: 10vw;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-responding-container {
  margin-top: 80px;
  height: 57px;
}

.chatbot-message-box {
  min-width: 340px;
  background-color: #215CEC;
  color: white;
  padding: 5px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.chatbot-message-box p {
  padding: 10px;
}

.responding-tag {
  border: 1px solid #215CEC;
  background-color: #eaf1ff;
  align-items: center;
  justify-content: center;
  padding: 7px;
  gap: 0.7rem;
  border-radius: 10px;
  display: none;
}

.responding-tag-show {
  display: flex;
}

.responding-tag p {
  margin-bottom: 0;
  color: #215CEC;
}

.responding-block {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #215CEC;
  border: 1px solid #215CEC;
}

.chat-container {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 5rem;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 340px;
}

.bot-message-container {
  align-self: flex-start;
  max-width: 65%;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.bot-message-container-report {
  margin-top: 20px;
  align-self: flex-start;
  max-width: 65%;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.bot-message-container-report p {
  margin-bottom: 0;
}



.user-message-container {
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
  background-color: #215CEC;
  color: white;
  padding: 10px;
  border: 1px solid #215CEC;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.user-message-container p,
.bot-message-container p {
  margin-bottom: 0;
}

.bottom-container {
  margin-top: 30px;
  display: flex;
  width: 100%;
  max-width: 750px;
  justify-content: flex-end;
}

.restart-button {
  border: none;
  outline: none;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #215CEC;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

/* .scrolled-background {
  background-color: transparent !important;
  position: sticky;
  top: 10px;
  color: goldenrod;
} */

.progress-tracker {
  background-color: transparent;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 400px;
  position: sticky;
  top: 10px;
  align-self: flex-start;
  margin-top: 10px;
}

.tracker-heading {
  font-size: 1.5rem;
  margin-bottom: 40px;
}


.bot-selection {
  display: flex;
  background-color: white;
  padding: 5px;
  margin-bottom: 1rem;
  border-radius: 10px;
  gap: 5px;
}

.bot-selection-button {
  border: none;
  outline: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.chatbot-button {
  background-color: #215CEC;
  color: white;
}

.bot-message-container p {
  margin-bottom: 0;
}

.custom-tooltip .tooltip-inner {
  background-color: white;
  color: #215CEC;
  border: 1px solid #215CEC;
}

.custom-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #215CEC;
}

.chatbot-questions {
  display: flex;
  gap: 1rem;
}

.questions,
.voicebot {
  cursor: pointer;
}

.chatbot-questions-hide {
  display: none;
}

.questions {
  border: 1px solid #215CEC;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  color: #215CEC;
}

.input-container {
  width: 100%;
  background-color: white;
  border: 2px solid white;
  max-width: 750px;
  margin-top: 30px;
  padding: 10px;
  min-width: 340px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.input-container-border {
  box-shadow: 3px 3px 25px #a3bdff;
}


.scrollable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 61vh !important;
  overflow-y: scroll;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.input-box {
  display: flex;
}

.input-container textarea {
  height: auto;
  background-color: white;
  width: 95%;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.chatbot-dots {
  font-size: 23px;
}

.forward-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-width: 340px;
  margin-top: 10px;
  max-width: 750px;

}

/* VoiceBot.js */

#voicebot-message-box {
  background-color: #8246DD;
}

.voicebot {
  border: 1px solid #8246DD;
  color: #8246DD;
}

.voicebot-restart-button {
  background-color: #8246DD;
}

.voicebot-user-message-container {
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
  background-color: #8246DD;
  color: white;
  padding: 10px;
  border: 1px solid #8246DD;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.test-voicebot-message-container {
  align-self: flex-start;
  max-width: 65%;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.test-voicebot-message-container p {
  margin-bottom: 0;
}


.voicebot-user-message-container p {
  margin-bottom: 0;
}

.voicebot-input-container-border {
  box-shadow: 3px 3px 25px #c6a0ff;
}

.voicebot-responding-tag {
  border: 1px solid #8246DD;
  background-color: #ece0ff;
}

.voicebot-responding-tag .responding-block {
  background-color: #8246DD;
  border-color: #8246DD;
}

.voicebot-responding-tag .responding-block p {
  color: #8246DD;
}

.voicebot-respondingtag-text {
  color: #8246DD !important;
}

.voicebot-selection-button {
  border: none;
  outline: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.voicebot-button {
  background-color: #8246DD;
  color: white;
}

.voice-custom-tooltip .tooltip-inner {
  background-color: white;
  color: #8246DD;
  border: 1px solid #8246DD;
}

.voice-custom-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #8246DD;
}

/* DiseaseReport.js */

.report-link {
  color: #215CEC;
  text-decoration: underline !important;
  cursor: pointer;
}

.report-tag {
  /* text-decoration: underline; */
  /* color: #215CEC; */
  cursor: pointer;
}

.report-tag:hover {
  color: #215CEC !important;
  text-decoration: underline;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake-element {
  animation: shake 0.5s ease infinite;
}

.report-delete-icon:hover {
  cursor: pointer;
  color: red !important;
  animation: shake 0.5s ease;
}


.main-disease-report-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.back-to-home-report {
  margin-top: 8px;
}

.disease-report-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disease-report-container-background {
  background-color: white;
  box-shadow: var(--shadow);
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  max-width: 750px;
  min-width: 700px;
  min-height: 530px;
  width: 100%;
}

.top-heading {
  width: 100%;
  max-width: 750px;
  margin-bottom: 40px;
}

.disease-report-container h2 {
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 15px;
  font-size: 26px;
}

.symptoms-container,
.precautions-container {
  width: 100%;
  max-width: 750px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
}

.disease-report-list li {
  line-height: 1.8rem;
  margin-left: 8px;
}

.disease-report-container h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

.progressbar-large {
  width: 200px;
}

.progress {
  margin-bottom: 7px;
}

.progressbar-tags {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0 !important;

}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 10px !important;
  fill: black !important;
}

.CircularProgressbar-path {
  stroke: #215CEC !important;
}

.progress-bar-col {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* HealthProfiles.js */

.health-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.health-profile-top-heading {
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
}

.health-profile-top-heading h2 {
  margin-bottom: 0;
}

.health-profiles-list {
  width: 100%;
  max-width: 750px;
  margin-top: 50px;
}

.health-profile {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 340px;
  max-width: 750px;
  padding: 18px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
  margin-top: 10px;
}

.health-profile p {
  margin-bottom: 0;
}

.space-name {
  width: 20vw;
  background-color: #215CEC;
}

/* DiseaseProfile.js */
/* 
.disease-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.disease-profile-top-heading {
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
}

.disease-profile-top-heading h2 {
  margin-bottom: 0;
}

.disease-profiles-list {
  width: 100%;
  max-width: 750px;
  margin-top: 50px;
}

.disease-profile {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 340px;
  max-width: 750px;
  padding: 18px;
  border: 1px solid white;
  background-color: var(--bkc-sceondary);
  border-radius: 10px;
  margin-top: 10px;
}

.disease-profile p {
  margin-bottom: 0;
}

.disease-space-name {
  width: 20vw;
} */


.disease-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.back-to-home {
  margin-top: 50px;
  margin-right: 10px;
}

.disease-profile-top-heading {
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
}

.disease-profile-top-heading h2 {
  margin-bottom: 0;
}

.disease-profiles-list {
  width: 100%;
  max-width: 750px;
  margin-top: 50px;
  box-shadow: var(--shadow);
  padding: 20px;
  background-color: #ecf4ff;
  border-radius: 10px;

}

.disease-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  padding: 17px;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 3px solid #ecf4ff;
  border-bottom: 1px solid gainsboro;
  background-color: #ecf4ff;
  color: black !important;
}

.report-delete {
  display: none;
}

.disease-profile:hover {
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid white;
  border-left: 3px solid #215CEC;
}

.disease-profile p {
  margin-bottom: 0;
}

.disease-space-name {
  width: 20vw;
}

.disease-profile:hover .report-date {
  display: none;
}

.disease-profile:hover .report-delete {
  display: inline-block;
}

.report-delete {
  display: none;
}

.empty-report {
  text-align: center;
  color: rgb(167, 167, 167);
  margin: 50px;
}

/*  Media queries */



@media screen and (min-width: 768px) {

  /* .col-md-6 {
    width: 90% !important;
  } */

  /* Introduction */

  .message-box {
    display: block;
  }

  /* Featured */

  .image-featured {
    height: 270px !important;
  }

  /* Divider */

  .section-divider div {
    flex-direction: row;
    gap: 2rem;
    height: 100px;
    border-radius: 50px;
  }

  .section-divider div button {
    margin-top: 0;
  }

  /* Footer */

  .footer-logo {
    display: block;
  }

}

@media screen and (min-width: 992px) {

  /* Divider */

  .section-divider div p {
    margin-right: 20rem;
  }
}

@media screen and (max-width: 797px) {
  .chatbot-questions {
    flex-direction: column;
  }

  .questions-responding-container {
    height: 155px;
  }

}

@media screen and (max-width: 763px) {
  .progressbar-large {
    width: 130px;
  }

}

@media screen and (max-width: 795px) {
  .disease-report-container-background {
    min-width: auto;
  }


}

@media screen and (max-width: 500px) {
  .report-date {
    display: none;
  }


}

@media screen and (max-width: 595px) {
  .back-home {
    display: none;
  }

  .signin-container {
    gap: 0;
  }

  .disease-report-container {
    padding: 0;
  }


}